aiohttp
aiomysql
async-timeout
attrs
cffi
chardet
cryptography
cycler
dateparser
discord
discord.py>=2.0.0
idna
kiwisolver
matplotlib
multidict
numpy
pycparser
PyMySQL
pyparsing
pyshorteners
python-dateutil
pytz
regex
six
tzlocal
websockets
yarl
requests
Pillow
